---
layout: single
---

<h1>Biography</h1> 

<p> I am an Undergraduate Student at School of Applied Mathematics <a href="https://emap.fgv.br">(EMAp)</a>, at the Getulio Vargas Foundation (FGV) and a huge fan of the Star Wars franchise.</p>

<p>  I started my life in mathematics at a national math olympics <a
href="http://www.obmep.org.br/">(OBMEP)</a>. After receiving my first medal, I
was introduced to a junior scientific initiation <a
href="http://www.obmep.org.br/pic.htm">(PIC)</a>, focused on algebra, number
theory and geometry, which contributed to understand my passion for the topic. I participated in this
program for 4 years.  </p>

<p>This has opened up several opportunities, such as studying mathematics at the
university. In particular, in 2018, I started studying at FGV where I am now in my last
year of graduation. In 2019, I jointly begun taking master's classes
encouraged by the Scientific Initiation and  Master's Program
<a href="https://picme.obmep.org.br"> (PICME) </a>. This led me to anticipate the
master's degree at the same institution. Besides that, I participate in a Scientific
Initiation about Optimal Control Theory guided by Prof. Maria Soledad Aronna. </p>

<h1> Interests </h1>   

<ul>
  <li> Applied Mathematics </li>
  <li> Epidemiology </li> 
  <li> Optimal Control Theory </li>
  <li> Data Science </li>
</ul>

